.quiz-container{
    justify-content: center;
   
}
/* Style the start-quiz button */
.start-button {
        line-height: 12px;
        width: 18px;
        font-size: 8pt;
        font-family: tahoma;
        margin-top: 1px;
        margin-right: 2px;
      }
.section-title  {

    align-items: center;
    margin: 10px 45px;

/* Style the timeshow */
}
.quiz-container #TimeShow {
    color: black;
    background:aquamarine;
    border: 1px solid black;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    border-radius: 5px;
    margin: 0 0 0px 950px;
}
